[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
google-api-python-client = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
flask = "*"
requests = "*"
google = "*"
oauth2client = "*"
gspread = "*"
jinja2 = "*"

[requires]
python_version = "3.7"
