{% extends "template_base.html" %}
{% block content %}
<div class="row p-3">
    <button class="showfilters btn btn-primary mr-3">Mostrar Filtros</button>
    <a class="btn btn-primary mr-3" href="/">Modo Tarjetas</a>
    <a class="btn btn-primary mr-3" href="/nophotos">Modo Sin Fotos</a>
</div>
<div class="row p-3 filters hidden">
    <div class="filter filter-style filter-all filter-applied" data-filter="all">all</div>
    {% for tag in tags %}
    <div class="filter filter-style filter-tag" data-filter="{{tag}}">{{tag}}</div>
    {% endfor %}
    {% for zone in zones %}
    <div class="filter filter-style filter-zone" data-filter="{{zone}}">{{zone}}</div>
    {% endfor %}
</div>
<div class="row pt-3">
    <table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Dónde</th>
            <th scope="col">Tags</th>
        </tr>
    </thead>
    <tbody>
        {% for restaurant in restaurants %}
        <tr class="filter-item" data-filters='{{restaurant.filters_json}}'>
            <td>{{restaurant.title}}</td>
            <td>{{restaurant.description}}</td>
            <td>{{restaurant.price}}</td>
            <td>
                {% for zone in restaurant.zones %}
                <p class="filter card-zone" data-filter="{{zone}}">{{zone}}</p>
                {% endfor %}
            </td>
            <td>
                {% for tag in restaurant.tags %}
                <p class="filter card-tag" data-filter="{{tag}}">{{tag}}</p>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}
